body {
    padding-left: 80px;
    margin: 0;
}

h1 {
    font-family: 'Gloock', serif;
}

p {
    font-family: 'Nunito', sans-serif;
    padding-bottom: 20px;
}

.orange-color {
    color: orange;
}

.flexible-sec {
    display: flex;
}

.sraight-border {
    border-left: 3px solid rgb(241, 73, 73);
    line-height: 40px;
    padding-left: 10px;
}

.flexible-container {
    display: flex;
    margin-bottom: 150px;
    margin-left: 100px;
    margin-right: 100px;
}

.half-width {
    width: 50%;
    padding: 30px;
}

.half-width img {
    width: 38%;
    padding-left: 5px;
    padding-right: 5px;
}

.explore {
    text-decoration: none;
    color: white;
    font-weight: 700;
    padding: 10px 10px 10px 10px;
    background-image: linear-gradient(rgb(224, 64, 64), tomato);
    border-radius: 5px;
}

#space {
    padding-top: 40px;
}

#mission-center {
    text-align: center;
}

#mission-a {
    background-color: rgb(253, 207, 190);
    border-radius: 10px;
    margin-right: 15px;
}

#mission-b {
    background-color: rgb(218, 192, 243);
    border-radius: 10px;
    margin-right: 15px;
}

#mission-cc {
    background-color: rgb(248, 177, 215);
    border-radius: 15px;
}

#font-size {
    font-size: 30px;
}

.half-width-sec {
    width: 60%;
    padding: 4%;
}

.half-width-sec img {
    width: 60%;
}

.developers {
    background-image: url(shapes/shape-1.png);
    background-repeat: no-repeat;
    background-position: top left;
    background-size: 200px 200px;
}

.projects {
    background-image: url(shapes/shape-1.png);
    background-repeat: no-repeat;
    background-position: bottom 15% right 12%;
    background-size: 350px 350px;
}

.text-middle {
    text-align: center;
    font-size: 25px;
}

.go-corona-go {
    background-image: url(shapes/shape-3.png);
    background-repeat: no-repeat;
    background-position: top left;
    background-size: 330px 330px;
}

.ba-ba-black-ship {
    background-color: black;
    margin-right: 60px;
}

.fatter {
    text-align: center;
    color: white;

}

.hard-work {
    text-align: center;
    color: white;
}

#year {
    color: rgb(218, 76, 76);
}

#font-abc {
    font-family: 'Lobster', cursive;
}